*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

background:linear-gradient(135deg,#ff5fa2,#8b5cf6,#4f46e5);

min-height:100vh;

padding:20px;

overflow-y:auto;

}

h1{

color:white;

text-align:center;

margin-bottom:25px;

font-size:34px;

}

.gallery{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin-bottom:40px;

}

.gallery img{

width:100%;

aspect-ratio:1/1;

object-fit:cover;

border-radius:22px;

border:3px solid rgba(255,255,255,.4);

background:rgba(255,255,255,.2);

backdrop-filter:blur(10px);

transition:.4s;

box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.gallery img:hover{

transform:scale(1.05);

}

button{

position:fixed;

bottom:20px;

left:50%;

transform:translateX(-50%);

padding:15px 45px;

border:none;

border-radius:40px;

background:white;

font-size:18px;

font-weight:600;

color:#ff4fa0;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.25);

}
