*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#ff5fa2,#8b5cf6,#4f46e5);

overflow:hidden;

}

.container{

text-align:center;

color:white;

}

h2{

font-size:32px;

margin-bottom:15px;

}

p{

font-size:18px;

margin-top:10px;

}

.gift-box{

font-size:120px;

cursor:pointer;

margin:35px auto;

animation:bounce 2s infinite;

transition:.5s;

}

.gift-box:hover{

transform:scale(1.15);

}

@keyframes bounce{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-20px);
}

}

.open{

animation:explode .8s forwards;

}

@keyframes explode{

0%{

transform:scale(1);

}

50%{

transform:scale(1.4) rotate(15deg);

}

100%{

transform:scale(0);

opacity:0;

}

}

.stars{

position:absolute;

width:100%;

height:100%;

background-image:
radial-gradient(white 2px,transparent 2px);

background-size:60px 60px;

opacity:.3;

animation:moveStars 20s linear infinite;

}

@keyframes moveStars{

from{
transform:translateY(0);
}

to{
transform:translateY(-300px);
}

}
